.wrapper  {
  display: grid;

  grid-template-areas:
  'h h'
  'n c';

  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;

  max-width: 1024px;
  padding: 0 12px;
  margin: 0 auto;
}
.header {
  grid-area: h;
  display: flex;
  align-items: center;
  margin: 10px 0 40px 0;
  &__logo {
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}
.nav {
  grid-area: n;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    margin: 0 0 8px 0;
    transition: all .4s ease;
    color: #3b3b3b;
    &:hover {
      color: #5b33d0;
      svg {
        path {
          color: #5b33d0;
        }
      }
    }
    svg {
      width: 24px;
      height: 24px;
      margin: 0 10px 0 0;
      path {
        color: #3b3b3b;
        transition: all .4s ease;
      }
    }
    &:last-child {
      margin: auto 0 50px 0;
    }
  }
}